<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="css/main.css">
    <title>Hares - Expertises & Conseils</title>
</head>

<body>
    <div class="container">


        <header>

            <div class="row justify-content-md-center">
                <div class="col-xl-3 col-sm-12">
                    <div class="logo-header">
                    </div>
                </div>
                <div class="col-xl-3 col-sm-4">
                    <div class="bloc-header">
                        <i class="fa fa-phone"></i>
                        <p>
                            +33(0)4 00 00 00 00
                        </p>
                        <p>
                            +33(0)4 00 00 00 00
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-4">
                    <div class="bloc-header">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            93 av du 11 novembre 1918<br />
                            69160 TASSIN LA DEMI LUNE
                        </p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="bloc-header">
                        <a href="https://cwe.cegid.com/" target="_blank">
                            <div class="myButton">
                                Espace Client
                            </div>
                        </a>
                    </div>
                </div>


            </div>

        </header>
        <nav>
            <!-- <div class="row">
            <div class="col">
                <ul class="nav container">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item drop" data-dropNav="drop1">
                        <a class="nav-link" href="#">Link <i class="fa fa-chevron-down"></i></a>
                        <div class="nav-dropdown" id="drop1">
                            <ul>
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Lorem ipsum</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item drop" data-dropNav="drop2">
                        <a class="nav-link" href="#">Link <i class="fa fa-chevron-down"></i></a>
                        <div class="nav-dropdown" id="drop2">
                            <ul>
                                <li><a href="#">Lorem ipsum dolor sit amet,</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet,</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet,</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet,</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet,</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet,</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item drop" data-dropNav="drop3">
                        <a class="nav-link" href="#">Link <i class="fa fa-chevron-down"></i></a>
                        <div class="nav-dropdown" id="drop3">
                            <ul>
                                <li><a href="#">Lien</a></li>
                                <li><a href="#">Lien</a></li>
                                <li><a href="#">Lien</a></li>
                                <li><a href="#">Lien</a></li>
                                <li><a href="#">Lien</a></li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="col-2 text-right">
                <div class="burgerMenu">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div> -->

        </nav>
        <section>

            <div class="line" id="first">
                <div id="construct"></div>
                <!-- <div class="row">
                <div class="col" data-aos="fade-in" data-aos-duration="2000">
                    <div class="scene">
                        <div class="carousel">
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="zoom-in" data-aos-duration="1500">
                    <div id="info-0">
                        <h3><img src="./img/H.png" alt="">umain</h3>
                        <p>HARES a été créé par notre volonté de mettre en avant l’humain.</p>
                        <p>Notre cabinet ne vit pas uniquement grâce à ses experts-comptables mais grâce à toute
                            une
                            équipe. Il nous tient à cœur d’inclure à tous les niveaux le capital humain qui fait la
                            force
                            de notre cabinet.</p>
                        <p>C’est également dans un souci de respect de nos clients, qui nous font confiance, que
                            nous
                            souhaitions les mettre en valeur. Il nous importe que notre relation soit basée sur la
                            reconnaissance, la considération et l’écoute. / Nous considérons qu’il est important
                            que notre
                            relation soit basée sur la reconnaissance, la considération et l’écoute.</p>
                    </div>
                    <div id="info-1">
                        <h3 style="color:#000;"><img src="./img/A.png" alt="">udit</h3>
                        <p>HARES dynamise votre entreprise grâce à l’audit.</p>
                        <p>L’audit est un outil de progrès de l’entreprise et de ses parties prenantes visant à
                            dynamiser, challenger, booster, comparer… et ainsi pousser l’entreprise à progresser.</p>
                        <p>Notre audit est porteur de valeur ajoutée pour votre entreprise (stratégie, capital
                            humain, processus et moyens et outils). Notre indépendance apporte un regard externe
                            important pour une analyse objective.</p>
                    </div>
                    <div id="info-2">
                        <h3><img src="./img/R.png" alt="">éactivité</h3>
                        <p>HARES réactif et proactif</p>
                        <p>Notre volonté est de répondre efficacement à vos besoins dans un délai performant.</p>
                        <p>Parce que les changements sont permanents et que votre entreprise évolue, votre
                            expert-comptable s’adapte et vous conseille. En conséquence, nous nous efforçons d’être
                            en
                            veille et d’anticiper les changements à venir.</p>
                    </div>
                    <div id="info-3">
                        <h3><img src="./img/E.png" alt="">xpertise</h3>
                        <p>HARES met à votre disposition toute son expertise pour satisfaire vos besoins.</p>
                        <p>Nos compétences sont à votre service pour répondre à vos différentes obligations légales
                            et contractuelles mais également pour vous accompagner tout au long de la vie de votre
                            entreprise.</p>
                        <p>Notre savoir spécialisé de l’entreprise et notre propre rôle d’entrepreneur nous
                            permettent de vous conseiller et de guider à vos côtés votre entreprise vers le succès.</p>
                    </div>
                    <div id="info-4">
                        <h3><img src="./img/S.png" alt="">implicité</h3>
                        <p>HARES une coopération sans détour</p>
                        <p>Nous prônons une relation simple afin de cultiver une vraie intelligence relationnelle
                            avec nos équipes et clients. Nous mettons en avant un environnement de travail qui
                            permet à tous de donner le meilleur d’eux-mêmes et d’atteindre la plus grande
                            satisfaction.</p>
                        <p>« Simplicité de forme ne signifie pas nécessairement simplicité de l'expérience. » Il
                            est important pour nous de partager nos connaissances pour vous les retranscrire le
                            plus simplement possible.</p>

                    </div>
                    <div id="info-5">
                        <h3><img src="./img/H.png" alt="">umain</h3>
                        <h3 style="color:#000;"><img src="./img/A.png" alt="">udit</h3>
                        <h3><img src="./img/R.png" alt="">éactivité</h3>
                        <h3><img src="./img/E.png" alt="">xpertise</h3>
                        <h3><img src="./img/S.png" alt="">implicité</h3>
                    </div>

                </div>
            </div> -->
            </div>

            <!-- <div class="line">
            <div class="container" data-aos="zoom-in" data-aos-duration="1000">
                <div class="row slider">
                    <div class="col">
                        <i class="fa fa-user"></i>
                        <h4>
                            0 Lorem ipsum dolor sit amet
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum error
                            facere
                            impedit
                            ipsam ipsum iste, maxime minima, modi nesciunt officiis optio quaerat quia saepe,
                            soluta.
                            Consectetur provident quaerat rerum!
                        </p>
                    </div>
                    <div class="col">
                        <i class="fa fa-user"></i>
                        <h4>
                            1 Lorem ipsum dolor sit amet
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum error
                            facere
                            impedit
                            ipsam ipsum iste, maxime minima, modi nesciunt officiis optio quaerat quia saepe,
                            soluta.
                            Consectetur provident quaerat rerum!
                        </p>
                    </div>
                    <div class="col">
                        <i class="fa fa-user"></i>
                        <h4>
                            2 Lorem ipsum dolor sit amet
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum error
                            facere
                            impedit
                            ipsam ipsum iste, maxime minima, modi nesciunt officiis optio quaerat quia saepe,
                            soluta.
                            Consectetur provident quaerat rerum!
                        </p>
                    </div>
                    <div class="col">
                        <i class="fa fa-user"></i>
                        <h4>
                            3 Lorem ipsum dolor sit amet
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum error
                            facere
                            impedit
                            ipsam ipsum iste, maxime minima, modi nesciunt officiis optio quaerat quia saepe,
                            soluta.
                            Consectetur provident quaerat rerum!
                        </p>
                    </div>
                    <div class="col">
                        <i class="fa fa-user"></i>
                        <h4>
                            4 Lorem ipsum dolor sit amet
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum error
                            facere
                            impedit
                            ipsam ipsum iste, maxime minima, modi nesciunt officiis optio quaerat quia saepe,
                            soluta.
                            Consectetur provident quaerat rerum!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="line contact">
            <div class="container">
                <div class="row">

                    <div class="col-6" data-aos="zoom-in-down" data-aos-duration="2000" data-aos-anchor-placement="top-center">
                        <form class="row">
                            <div class="col-12">
                                <h2>Nous Contacter</h2>
                            </div>
                            <div class="col-6">
                                <label for="firstName">First Name</label>
                                <input type="text" name="firstName" id="firstName">
                            </div>
                            <div class="col-6">
                                <label for="lastName">last Name</label>
                                <input type="text" name="lastName" id="lastName">
                            </div>

                            <div class="col-6">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email">
                            </div>
                            <div class="col-6">
                                <label for="phone">Phone</label>
                                <input type="text" name="phone" id="phone">
                            </div>

                            <div class="col-12">
                                <label for="message">Message</label>
                                <textarea name="message" id="message"></textarea>
                            </div>
                            <div class="col-12">
                                <div class="myButton">
                                    Envoyer
                                </div>
                            </div>
                        </form>


                    </div>
                    <div class="col map" data-aos="zoom-in-down" data-aos-duration="2000" data-aos-anchor-placement="top-center">

                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=4.6830081939697275%2C45.73931563664794%2C4.826345443725587%2C45.79027007360134&amp;layer=mapnik&amp;marker=45.764798672765274%2C4.754676818847656"></iframe>


                    </div>
                </div>

            </div>
        </div> -->


        </section>
        <!--     <div class="blueLine">
        
        </div> -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <!-- <ul>
                        <li><a href="">Mention Légale</a></li>
                        <li><a href="">Politique de confidentialité</a></li>
                        <li>CGU</li>
                    </ul> -->
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-12">
                        © 2018 All Rights Reserved.
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        AOS.init();
        let swiperID = 1;

        $('.slider').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            prevArrow: '<button type="button" class="slick-prev"><i class="fa fa-chevron-left"></i></button>',
            nextArrow: '<button type="button" class="slick-next"><i class="fa fa-chevron-right"></i></button>',
        });

        $('.nav-item').on('click', function () {
            let idDrop = $(this).data("dropnav");
            let divItem = $(this);
            if ($(this).hasClass(idDrop + "open") === false) {

                $($(this).find("i")[0]).css("transform", "rotate(180deg)");
                $(this).addClass(idDrop + "open");
                $(' #' + idDrop).slideDown(800);
            } else {
                $($(this).find("i")[0]).css("transform", "rotate(0deg)");

                $(' #' + idDrop).slideUp(900, function () {
                    divItem.removeClass(idDrop + "open");
                });


            }


        })
        /*.on('mouseleave', function () {
                let idDrop = $(this).data("dropnav");
                $($(this).find("i")[0]).css("transform", "rotate(0deg)");
                $(this).removeClass(idDrop + "open");
                $(' #' + idDrop).slideUp(2500);
            })*/
        $('.burgerMenu').on('click', function () {
            let allDropNav = $('.nav-item.drop')
            allDropNav.map(function (item) {
                let idDrop = $(allDropNav[item]).data("dropnav");
                if ($(this).hasClass(idDrop + "open") === false) {

                    $('.nav-item.drop').find("i").css("transform", "rotate(180deg)");
                    $(allDropNav[item]).addClass(idDrop + "open");
                    $(' #' + idDrop).slideDown(800);
                } else {
                    $('.nav-item.drop').find("i").css("transform", "rotate(0deg)");

                    $(' #' + idDrop).slideUp(900, function () {
                        $(allDropNav[item]).removeClass(idDrop + "open");
                    });
                }
            })

        })

        $(document).ready(function () {
            /* $('.containeRotate-0').addClass('show');
            setTimeout(() => {
                $('.containeRotate-1').addClass('show');
            }, 10000)
            setTimeout(() => {
                $('.containeRotate-2').addClass('show');
            }, 20000)
            setTimeout(() => {
                $('.containeRotate-3').addClass('show');
            }, 30000)
            setTimeout(() => {
                $('.containeRotate-4').addClass('show');
            }, 40000)
            setInterval(() => {
                // let position = $('.containeRotate-1').position(); 
                let positions = {
                    0: $('.containeRotate-0').position(),
                    1: $('.containeRotate-1').position(),
                    2: $('.containeRotate-2').position(),
                    3: $('.containeRotate-3').position(),
                    4: $('.containeRotate-4').position(),
                }
                for (key in positions) {
                    if (positions[key].top <= 5 && positions[key].top >= -5) {
                        if (key == 0) {
                            $(`#info-4`).fadeOut(1800);
                            $(`#info-${key}`).delay(1800).fadeIn(1000);

                        } else {
                            $(`#info-${key-1}`).fadeOut(1800);
                            $(`#info-${key}`).delay(1800).fadeIn(1000);
                        }



                    }
                }


            }, 2000) */

            const letter = 7;
            var cellCount = 18;
            var selectedIndex = 0;
            let change = 0;

            let timer = 0;
            setInterval(() => {
                timer += 100;
                let interval = 10100
                if (change == 0) {
                    interval = 2000;
                }
                if (timer >= interval) {
                    let multip = (change == 4) ? change * 200 : change * 100;
                    $(`#info-${change-1}`).delay(multip).fadeOut(1800);
                    $(`#info-${change}`).delay(multip + 1800).fadeIn(1000);

                    timer = 0
                    selectedIndex++;
                    rotateCarousel();
                }

                /* [].forEach.call(divLetter, (oneDiv) => {

                    console.log(oneDiv.css, oneDiv)

                }) */



            }, 100)

            var carousel = document.querySelector('.carousel');


            const LETTERS = ["H", "A", "R", "E", "S"];
            let divLetter = [];
            let divStart = document.createElement('div');
            divStart.className = "carousel__cell";
            carousel.appendChild(divStart);
            for (key in LETTERS) {
                divLetter[key] = document.createElement('div');
                divLetter[key].className = "carousel__cell";
                let img = document.createElement('img');
                img.src = `./img/${LETTERS[key]}.png`;

                divLetter[key].appendChild(img);
                carousel.appendChild(divLetter[key]);
            }
            let divEnd = document.createElement('div');
            divEnd.className = "carousel__cell";
            carousel.appendChild(divEnd);



            function rotateCarousel() {
                change++;
                if (change == letter) {
                    selectedIndex += (cellCount - letter);
                    change = 0;
                    carousel.style.transition = "transform 1s linear";
                } else {
                    carousel.style.transition = "transform 10s linear";
                }
                var angle = selectedIndex / cellCount * -360;
                carousel.style.transform = 'translateZ(-388px) rotateY(' + angle + 'deg)';

            }

        });
    </script>

</body>

</html>